VITE_SUPABASE_URL=https://krnazwcmhhabehsblsyl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtybmF6d2NtaGhhYmVoc2Jsc3lsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg5MTk2MzQsImV4cCI6MjA5NDQ5NTYzNH0.0fS9roRMpOSaNnRQ3n1PDEvEVC8zVRUfbk3ppnbtdk4
GqG11cympmRDXOv2